<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruixin.esaddress.mapper.AddressMapper">

    <insert id="insertList" parameterType="List" useGeneratedKeys="false">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            INSERT INTO T_ADDRESS(ID,SMX,SMY,MC,LX)
            VALUES(seq_address.nextval,
            #{item.lon,jdbcType=NUMERIC},
            #{item.lat,jdbcType=NUMERIC},
            #{item.name,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="selectTotolCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM T_ADDRESS <!--BZDZK_PT-->
    </select>
    <select id="selectList" parameterType="java.util.Map" resultMap="addressMap">
        SELECT A.*,concat(concat(A.SMY,','),A.SMX) AS geopoint FROM (
        SELECT * FROM (
        SELECT A.*,ROWNUM AS RN FROM T_ADDRESS A <!--BZDZK_PT-->
        ) WHERE RN &gt;(${page}-1)*${limit} and RN &lt;=${page}*${limit}
        ) A <!--WHERE A.STATUS=0-->
    </select>
    <resultMap id="addressMap" type="com.ruixin.esaddress.vo.Address">
		<!--<result column="SMID" property="id"/>-->
        <result column="ID" property="id"/>
        <result column="SMX" property="lon"/>
        <result column="SMY" property="lat"/>
        <result column="MC" property="name"/>
        <result column="LX" property="type"/>
        <result column="GEOPOINT" property="geoPoint"/>
    </resultMap>
</mapper>